*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url('https://adwallpapers.xyz/uploads/posts/149879-pizza-4k-ultra-hd-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}